<div class="container">  
  <div class="jumbotron center">
  	<h1> <%= @user.name %> </h1>
  	<img><%= image_tag @user.avatar.url(:thumb) %></img>
    <% if current_user != @user %>
      <p><%= simple_format(@user.user_description) %></p>
    <% end %>
  	<% if current_user == @user || admin_user_signed_in? %>
    	<h2>Approved</h2>
  		<p>
        <%= link_to "Requests", userrequests_user_path, class: "btn btn-primary btn-lg" %>     
  		  <%= link_to "Bought", userbought_user_path, class: "btn btn-primary btn-lg" %>
      </p> 
  	<% end %>
  </div>

  <div id="pieces" class="transitions-enabled">
    <% @pieces.each do |piece| %>
     <div class="box panel panel-default">
       <%= link_to image_tag(piece.image.url(:medium)), piece %>

       <div class="panel-body">
         <%= piece.title %><br/>
         <%= piece.genre %><br/>
         <%= piece.size %><br/>
         <div class ="green">
           $<%= number_with_precision piece.price, :precision => 2%>
         </div>      
         <strong><%= piece.user.name if piece.user %></strong><br/>
         <% if admin_user_signed_in? %>
           <p> Status: <%= piece.status %></p>
         <% end %>


       </div>
       <div class="panel-footer">
         <% if (current_user && piece.user == current_user) or admin_user_signed_in? %>
           <div class="actions">
             <%= link_to edit_piece_path(piece) do %>
                 <span class="glyphicon glyphicon-pencil"></span> Edit 
               <% end %>
             <%= link_to piece, method: :delete, data: { confirm: 'Are you sure?' } do %>
                 <span class="glyphicon glyphicon-trash"></span> Delete 
               <% end %>
           </div>
         <% end %>
        </div>
     </div>
    <% end %>
  </div>
</div>