<div class="container"> 
  <div class="jumbotron center">
  	<h1> <%= @user.name %> </h1>
  	<img><%= image_tag @user.avatar.url(:thumb) %></img>
    	<h2>Bought</h2>
  	<p>
      <%= link_to "Approved", userapproved_user_path, class: "btn btn-primary btn-lg" %>     
  	  <%= link_to "Requests", userrequests_user_path, class: "btn btn-primary btn-lg" %>
    </p> 
  </div>

  <div id="pieces" class="transitions-enabled">
    <% @pieces.each do |piece| %>
     <div class="box panel panel-default">
       <%= link_to image_tag(piece.image.url(:medium)), piece %>

       <div class="panel-body">
         <%= piece.title %><br/>
         <%= piece.medium %><br/>
         <%= piece.size %><br/>
         <div class ="green">
           $<%= number_with_precision(piece.total_price, :precision => 2, :delimiter => ',')%>
         </div>      
         <strong><%= piece.user.name if piece.user %></strong><br/>
         <% if admin_user_signed_in? %>
           <p> Status: <%= piece.status %></p>
         <% end %>


       </div>
       <div class="panel-footer">
         <% if (current_user && piece.user == current_user) or admin_user_signed_in? %>
           <div class="actions">
            <% if admin_user_signed_in? %> 
              <%= link_to edit_piece_path(piece) do %>
                 <span class="glyphicon glyphicon-pencil"></span> Edit 
              <% end %>
            <% end %>

             <%= link_to piece, method: :delete, data: { confirm: 'Are you sure?' } do %>
                 <span class="glyphicon glyphicon-trash"></span> Delete 
               <% end %>
           </div>
         <% end %>
        </div>
     </div>
    <% end %>
  </div>
</div>