<%= form_for @piece, html: { multipart: true } do |f| %>
  <% if @piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
      <% @piece.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :genre %><br>
    <%= f.select(:genre, options_for_select(['Drawing','Painting', 'Photography', 'Sculpture', 'Multimedia', 'Other'], :selected => @piece.genre), {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :size %><br>
    <%= f.text_field :size, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :artist_cut %><br> <%= render 'pieces/shipping_instructions' %><br>
    <%= f.text_field :artist_cut, class: "form-control", id: "artist_cut" %>
  </div>

  <div class="form-group">
    <%= f.label :total_price %><br> <%= render 'pieces/total_price_instructions' %><br>
    <%= f.text_field :total_price, class: "form-control", id: "total_price" %>
  </div>

  <script>
    $(document).on("change", "#artist_cut", function() {
      var artist_cut = $("#artist_cut").val() || 0;
      $("#total_price").val(Math.ceil(((((artist_cut*1.1)/(1-0.095))+0.3)/(1-0.029))*100)/100);
    });
    $(document).on("change", "#total_price", function() {
      var total_price = $("#total_price").val() || 0;
      $("#artist_cut").val(Math.floor((((total_price*(1-0.029)-0.3)*(1-0.095))/1.1)*100)/100);
    });
  </script>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>
  
  <% if admin_user_signed_in? %>
    <div class="form-group">
      <%= f.label :status %><br>
      <%= f.number_field :status, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit class: "btn btn-success btn-lg" %>
  </div>
<% end %>
