<div class="container"> 

  <div class="center">
    <h1>Listing Pieces</h1>
  </div>


  <div class="button-group center" role="group" aria-label="Filter and Sort">
    <div class="btn-group filter-button-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter By Medium
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a data-filter="*">Show All</a></li>
        <li role="separator" class="divider"></li>
        <li><a data-filter=".Drawing">Drawing</a></li>
        <li><a data-filter=".Painting">Painting</a></li>
        <li><a data-filter=".Photography">Photography</a></li>
        <li><a data-filter=".Sculpture">Sculpture</a></li>
        <li><a data-filter=".Digital">Digital</a></li>
        <li><a data-filter=".Multimedia">Multimedia</a></li>
        <li><a data-filter=".Other">Other</a></li>

      </ul>
    </div>  
    <div class="btn-group sort-by-button-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <li><a data-sort-by="original-order">Original Order</a></li>
          <li><a data-sort-by="random">Random</a></li>
          <li><a data-sort-by="id">Chronological</a></li>
          <li><a data-sort-by="title">Title</a></li>
          <li><a data-sort-by="artist">Artist</a></li>
          <li><a data-sort-by="price">Price $-$$</a></li>
          <li><a data-sort-by="price" data-descending="true">Price $$-$</a></li>
      </ul>
    </div>
  </div>


  <div id="pieces" class="transitions-enabled">
    <% @pieces.each do |piece| %>
      <% if piece.status == 1 or (admin_user_signed_in? && piece.status == 2) %>
        <div class="box panel panel-default <%= piece.medium %>">
          <%= link_to image_tag(piece.image.url(:medium)), piece %>

          <div class="panel-body">
            <div class="metadata" data-price="<%= piece.total_price %>" data-artist="<%= piece.user.name %>" data-title="<%= piece.title %>" data-id="<%= piece.id %>"></div>
            <div class="title"><%= piece.title %></div>
            <%= piece.medium %><br/>
            <%= piece.size %><br/>
            <div class="green price">
              $<%= number_with_precision(piece.total_price, :precision => 2, :delimiter => ',')%>
            </div>      
            <strong><%=link_to piece.user.name, userapproved_user_path(piece.user) if piece.user %></strong><br/>
            
            <% if admin_user_signed_in? %>
              <br><p><%= piece.user.email if piece.user %>
              Status: <%= piece.status %></p>
            <% end %>
          </div>

          <div class="panel-footer">
            <% if (current_user && piece.user == current_user) or admin_user_signed_in? %>
              <% if piece.status == 2 %>
                <p>This piece is not yet authorized.</p>
              <% end %>

              <div class="actions">
                <%= link_to edit_piece_path(piece) do %>
                    <span class="glyphicon glyphicon-pencil"></span> Edit 
                  <% end %>
                <%= link_to piece, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span> Delete 
                  <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
