<div class="container">	

	<div class="center">
		<h1>Bought</h1>
	</div>
	
	<div id="pieces" class="transitions-enabled">
	   <% @pieces.each do |piece| %>
	     	<div class="box panel panel-default">
	      	<%= link_to image_tag(piece.image.url(:medium)), piece %>

	         <div class="panel-body">
	           	<%= piece.title %><br/>
	            <%= piece.medium %><br/>
	            <%= piece.size %><br/>
					$<%= number_with_precision(piece.total_price, :precision => 2, :delimiter => ',')%><br/>
	           <strong><%=link_to piece.user.name, userapproved_user_path(piece.user) if piece.user %></strong><br/>
					<% if admin_user_signed_in? %>
	              <br><p><%= piece.user.email if piece.user %>
	              Status: <%= piece.status %></p>
            	<% end %>		        
		      </div>
	         <div class="panel-footer">
		         <p>This piece has already been bought.</p>

		         <div class="actions">
		            <%= link_to edit_piece_path(piece) do %>
		               <span class="glyphicon glyphicon-pencil"></span> Edit 
		            <% end %>
		            <%= link_to piece, method: :delete, data: { confirm: 'Are you sure?' } do %>
		               <span class="glyphicon glyphicon-trash"></span> Delete 
		            <% end %>
		         </div>
		      </div>
	     	</div>
	   <% end %>
	</div>
</div>
