<h1>Listing Pieces</h1>

<div id="pieces" class="transitions-enabled">
  <% @pieces.each do |piece| %>
    <div class="box panel panel-default">
      <%= image_tag piece.image.url(:medium) %>
      <div class="panel-body">
        <%= piece.title %>
        <%= piece.genre %>
        <%= piece.size %>
        <%= piece.price %>
        <%= piece.description %>
        <%= piece.user.email if piece.user %>
        <%= piece.status %>
      </div>
      <div class="panel-footer">
        <%= link_to 'Show', piece %>
        <% if piece.user == current_user || (user_signed_in? && current_user.id == 1) %>
          <%= link_to 'Edit', edit_piece_path(piece) %>
          <%= link_to 'Destroy', piece, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
       </div>
    </div>
  <% end %>
</div>