<div class="container2">

  <h1>Listing Pieces</h1>

  <div id="pieces" class="transitions-enabled">
    <% @pieces.each do |piece| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(piece.image.url(:medium)), piece %>

        <div class="panel-body">
          <%= piece.title %><br/>
          <%= piece.genre %><br/>
          <%= piece.size %><br/>
          $<%= piece.price %><br/>
         <strong><%= piece.user.email if piece.user %></strong><br/>
          <%= piece.status if (user_signed_in? && current_user.id == 1) %>
        </div>
        <div class="panel-footer">
          <% if piece.user == current_user || (user_signed_in? && current_user.id == 1) %>
             <div class="actions">
              <%= link_to edit_piece_path(piece) do %>
                  <span class="glyphicon glyphicon-pencil"></span> Edit 
                <% end %>
              <%= link_to piece, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span> Delete 
                <% end %>
            </div>
          <% end %>
         </div>
      </div>
    <% end %>
  </div>
</div>