<br/><%= link_to 'Back', pieces_path %><br/>
<%= link_to 'Requests', requests_pieces_path if user_signed_in? and current_user.email == "arjun0999@gmail.com" %>

<div class="row">
  <div class="col-md-offset-4 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @piece.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><%= @piece.title %></p>

        <p><%= @piece.genre %></p>

        <p><%= @piece.size %></p>

        <p><%= @piece.price %></p>

        <p><%= @piece.description %></p>

        <p><strong><%= @piece.user.name if @piece.user %></strong><p>
        
        <% if user_signed_in? && current_user.email == "arjun0999@gmail.com" %>
          <p> Status: <%= @piece.status %></p>
        <% end %>

        <% if current_user && (@piece.user == current_user || (user_signed_in? && current_user.email == "arjun0999@gmail.com")) %>
           <% if @piece.status != 1 %>
              <p>This piece is not yet authorized.</p>
            <% end %>
          <%= link_to edit_piece_path(@piece) do %>
            <span class="glyphicon glyphicon-pencil"></span> Edit 
          <% end %>
          <%= link_to @piece, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span> Delete 
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>