<%= link_to 'Back', pieces_path %>

<div class="row">
  <div class="col-md-offset-4 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @piece.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><%= @piece.title %></p>

        <p><%= @piece.genre %></p>

        <p><%= @piece.size %></p>

        <p><%= @piece.price %></p>

        <p><%= @piece.description %></p>

        <p><%= @piece.status %></p>

        <p><strong><%= @piece.user.name if @piece.user %></strong><p>
        <p><%= @piece.status if (user_signed_in? && current_user.id == 1) %></p>

        <% if @piece.user == current_user || (user_signed_in? && current_user.id == 1) %>
          <%= link_to edit_piece_path(@piece) do %>
            <span class="glyphicon glyphicon-pencil"></span> Edit 
          <% end %>
          <%= link_to @piece, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span> Delete 
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>