<br/><%= link_to 'Back', pieces_path %><br/>
<%= link_to 'Requests', requests_pieces_path if user_signed_in? and current_user.email == "arjun0999@gmail.com" %>

<div class="row">
  <div class="col-md-offset-4 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @piece.image.url(:large) %>
      </div>
      <div class="panel-body">
        <p><%= @piece.title %></p>

        <p><%= @piece.genre %></p>

        <p><%= @piece.size %></p>

        <% if current_user == @piece.user %>
          <div class ="green">
            <p>$<%= number_with_precision @piece.price, :precision => 2%></p>
          </div>
        <% end %>

        <p><%= @piece.description %></p>

        <p><strong><%= @piece.user.name if @piece.user %></strong><p>
        
        <% if user_signed_in? && current_user.email == "arjun0999@gmail.com" %>
            <p> Status: <%= @piece.status %></p>
        <% end %>
        
        <!-- Stripe Form -->
        <% if current_user != @piece.user %>
           <%= form_tag charges_path, id: 'chargeForm' do %>
                <script src="https://checkout.stripe.com/checkout.js"></script>
                <%= hidden_field_tag 'stripeToken' %>
                <%= hidden_field_tag 'stripeEmail' %>  
                <button id="btn-buy-show" type="button" class="btn btn-success btn-lg btn-block">Buy for $<%= number_with_precision @piece.price, :precision => 2%></button>
                <script>
                var handler = StripeCheckout.configure({
                  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                  token: function(token, arg) {
                    document.getElementById("stripeToken").value = token.id;
                    document.getElementById("stripeEmail").value = token.email;
                    document.getElementById("chargeForm").submit();
                  }
                });
                 document.getElementById('btn-buy-show').addEventListener('click', function(e) {
                  handler.open({
                    name: 'Metallic Palette',
                    description: '<%= @piece.title %> ($<%= @piece.price %>)',
                    amount: <%= @piece.price %> * 100
                });
                e.preventDefault();
               })
              </script>
            <% end %>
        <% end %>


        <% if current_user && (@piece.user == current_user || (user_signed_in? && current_user.email == "arjun0999@gmail.com")) %>
           <% if @piece.status != 1 %>
              <p>This piece is not yet authorized.</p>
            <% end %>
          <%= link_to edit_piece_path(@piece) do %>
            <span class="glyphicon glyphicon-pencil"></span> Edit 
          <% end %>
          <%= link_to @piece, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span> Delete 
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>