<div class="container">  
 <br/><%= link_to 'All Pieces', pieces_path %><br/>
  <%= link_to 'Requests', requests_pieces_path if admin_user_signed_in? %>

  <% if user_signed_in? %>
    <%= link_to "Approved", userapproved_user_path(current_user) %><br/>
    <%= link_to "Requests", userrequests_user_path(current_user) %> <br/>    
    <%= link_to "Bought", userbought_user_path(current_user) %>
  <% end %> 



  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading center">
          <%= image_tag @piece.image.url() %>
        </div>
        <div class="panel-body">
          <p><%= @piece.title %></p>

          <p><%= @piece.medium %></p>

          <p><%= @piece.size %></p>

          <% if current_user == @piece.user || admin_user_signed_in? %>
            <div class ="purple">
              <p>$<%= number_with_precision(@piece.artist_cut, :precision => 2, :delimiter => ',')%></p>
            </div>
          <% end %>

          <% if current_user == @piece.user || @piece.status != 1 %>
            <div class ="green">
              <p>$<%= number_with_precision(@piece.total_price, :precision => 2, :delimiter => ',')%></p>
            </div>
          <% end %>
          
          <p><strong><%=link_to @piece.user.name, userapproved_user_path(@piece.user) if @piece.user %></strong><p>

          <p><%= simple_format(@piece.description) %></p>
  
          <% if admin_user_signed_in? %>
              <p> Status: <%= @piece.status %></p>
          <% end %>
          
          <!-- Stripe Form -->
          <% if current_user != @piece.user && @piece.status == 1 %>
             <%= form_tag charges_path, id: 'chargeForm' do %>
                  <script src="https://checkout.stripe.com/checkout.js"></script>
                  <%= hidden_field_tag 'stripeToken' %>
                  <%= hidden_field_tag 'stripeEmail' %>
                  <%= hidden_field_tag 'stripeShippingName' %>
                  <%= hidden_field_tag 'stripeShippingAddressLine1' %>
                  <%= hidden_field_tag 'stripeShippingAddressZip' %>
                  <%= hidden_field_tag 'stripeShippingAddressCity' %>
                  <%= hidden_field_tag 'stripeShippingAddressState' %>
                  <%= hidden_field_tag 'stripeShippingAddressCountry' %>
                  <%= hidden_field_tag 'piece_id', @piece.id %>
                  <%= hidden_field_tag 'amount', @piece.total_price_in_cents %> 
   
                  <button id="btn-buy-show" type="button" class="btn btn-success btn-lg btn-block">Buy for $<%= number_with_precision(@piece.total_price, :precision => 2, :delimiter => ',')%></button>
                  <script>
                  var handler = StripeCheckout.configure({
                    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                    shippingAddress: true,
                    token: function(token, arg) {
                      document.getElementById("stripeToken").value = token.id;
                      document.getElementById("stripeEmail").value = token.email;
                      document.getElementById("stripeShippingName").value = arg.shipping_name;
                      document.getElementById("stripeShippingAddressLine1").value = arg.shipping_address_line1;
                      document.getElementById("stripeShippingAddressZip").value = arg.shipping_address_zip;
                      document.getElementById("stripeShippingAddressCity").value = arg.shipping_address_city;
                      document.getElementById("stripeShippingAddressState").value = arg.shipping_address_state;
                      document.getElementById("stripeShippingAddressCountry").value = arg.shipping_address_country;
                      document.getElementById("chargeForm").submit();
                    }
                  });
                   document.getElementById('btn-buy-show').addEventListener('click', function(e) {
                    handler.open({
                      name: 'Metallic Palette',
                      description: '<%= @piece.title %> ($<%= number_with_precision(@piece.total_price, :precision => 2, :delimiter => ',')%>)',
                      amount: document.getElementById("amount").value
                  });
                  e.preventDefault();
                 })
                </script>
              <% end %>
          <% end %>

          <% if @piece.status == 3 %>
            <p>This piece has already been bought.
              <% if current_user == @piece.user || admin_user_signed_in? %>
                <%= render 'pieces/purchase_details' %>
              <% end %>
            </p>
          <% end %>

          <% if (current_user && @piece.user == current_user) || admin_user_signed_in? %>
             <% if @piece.status == 2 %>
                <p>This piece is not yet authorized.</p>
              <% end %>
            <%= link_to edit_piece_path(@piece) do %>
              <span class="glyphicon glyphicon-pencil"></span> Edit 
            <% end %>
            <%= link_to @piece, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span> Delete 
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>