<%= render "pages/carousel" %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<%= link_to image_tag("https://s3.amazonaws.com/metallicpalette/col8.jpg", alt: "Browse the Collection"), pieces_path %>
		</div>
		<div class="col-md-3">
			<%= link_to image_tag("https://s3.amazonaws.com/metallicpalette/col9.jpg", alt: "About Us"), aboutus_path %>
		</div>
		<div class="col-md-3">
			<%= link_to image_tag("https://s3.amazonaws.com/metallicpalette/col7.jpg", alt: "Contact Us"), contactus_path %>
		</div>
		<div class="col-md-3">
			<%= link_to image_tag("https://s3.amazonaws.com/metallicpalette/col11.jpg", alt: "FAQ's"), faqs_path %>
		</div>
	</div>
</div>