<h1> Thanks for buying! </h1>
	
<p> Dear <%= @purchase.customer_name %>,</p>

<p> You just bought <strong><%= @piece.title %> for $<%= number_with_precision(@piece.total_price, :precision => 2, :delimiter => ',')%></strong>. We have contacted the seller, and your purchase should arrive in the next two to three weeks. </p>

<p> You can view the art you bought at this <%= link_to "link", piece_url(@piece, host: 'metallicpalette.com') %>.</p>

<p> If you have any questions about your purchase, you may contact the seller at this email: <strong><%= @purchase.seller_email %></strong>. They are shipping from <strong><%= @purchase.seller_city %>, <%= @purchase.seller_state %> to your place in <%= @purchase.customer_city%>, <%= @purchase.customer_state %>, <%= @purchase.customer_country %> </strong>. </p>

<p> We have told the seller to ship your art within the next week. <strong>If you do not recieve an email with a package tracking number from them in the next week, send them an email and cc us (support@metallicpalette.com).</strong> Feel free to contact us if you have any questions :) </p>

<p> 100% of our profits will go directly towards helping those with learning challenges, and we would like to thank you for your donation. This money will go a long way. </p><br/>

<p> Yours truly, </p>
<p> The Metallic Pallette Team </p>